/* Шрифты */
// Roboto
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

// Fira-sans
@font-face {
  font-family: "Fira-sans";
  src: url("../../fonts/Fira-sans/FiraSans-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Fira-sans";
  src: url("../../fonts/Fira-sans/FiraSans-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Fira-sans";
  src: url("../../fonts/Fira-sans/FiraSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Fira-sans";
  src: url("../../fonts/Fira-sans/FiraSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}