html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  background-color: $body-bg-color;
  font-family: $primary-font;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

// Скрыть svg sprite
.sprite-hide {
  display: none;
}

// согнутый угол у карточки
.triangle {
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
  }

  &::before {
    content: "";
    width: 43px;
    height: 25px;
    top: -7px;
    right: -16px;
    background-color: #ffffff;
    transform: rotate(45deg);
    z-index: 1;
    border-bottom: 1px solid rgba($black-color, .0651891);
  }

  &::after {
    content: "";
    top: 0;
    right: 0;
    border-bottom: 29px solid transparent;
    border-right: 29px solid transparent;
    box-shadow: -1px 1px 2px rgba($black-color, .1);
  }
}

@keyframes arrow-down {

  0% {transform: translateY(0)}

  50% {transform: translateY(5px)}

  100% {transform: translateY(0)}
}

@keyframes shake {

  0% {transform: rotate(-15deg)}

  50% {transform: rotate(15deg)}

  100% {transform: rotate(0)}
}