@mixin list-restore() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin desktop-max-width() {
  margin: 0 auto;
  max-width: $max-width;
}

@mixin font-styles() {
  font-style: normal;
  font-weight: normal;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}