// Размеры
$max-width: 1280px;

// Цвета
$body-bg-color: #828282;
$white-color: #ffffff;
$black-color: #000000;
$green-theme-color: #8DC540;
$light-black: #2B2B2B;
$button-line-color: #237BB0;
$border-card-color: #E8E8E8;
$light-white: #F2F2F2;
$bg-gradient-color: #237CB1;

// Время
$transition-time: .6s;

// Шрифты
$primary-font: "Roboto", "Arial", sans-serif;
$second-font: "Fira-sans", sans-serif;

// breakpoint'ы для адаптива
$desktop-intermediate: 1050px;
$horizontal-main-scroll: 1024px;
$tablet: 920px;
$tablet-intermediate: 837px;
$mobile: 550px;