.account {
  background-color: $white-color;
  position: relative;
  overflow-y: auto;

  &__footer {
    background-color: $white-color;
    box-shadow: 0px 0px 1px rgba($black-color, .239102), 0px 0px 15px rgba($black-color, .0869282);
    z-index: 1;
  }
}