.button {
  background-color: transparent;
  position: relative;
  border: 0;
  transition: $transition-time;

  &:hover {
    transform: rotate(90deg);
  }

  &:focus {
    outline: none;
    border: 2px solid $green-theme-color;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    background-color: $button-line-color;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
  }

  &::after {
    transform: translate(-50%, -50%);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &--header {
    background-color: $white-color;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include adaptability(tablet-intermediate) {
      display: none;
    }

    &:hover {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &--article {
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    margin-right: 20px;
    
    &:after,
    &:before {
      background-color: $light-black;
    }

    &:hover {
      transform: rotate(135deg);
    }
  }
}