.commission {
  width: 545px;
  font-size: 12px;
  line-height: 16px;
  color: $body-bg-color;
  padding: 20px 10px 10px 0;
  margin-left: 184px;

  @include font-styles();

  &__value {
    margin: 0;
  }

  &__description {
    margin: 0;
  }
}