.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include list-restore();

  &__item {
    position: relative;
    margin-right: 17px;
  }
}

.navigation__link {
  display: inline-block;
  color: $white-color;
  font-size: 14px;
  line-height: 16px;
  opacity: .8;
  text-transform: uppercase;
  padding: 22px 9px 21px 10px;
  position: relative;

  &:hover {
    opacity: .9;
  }

  &--active {
    opacity: 1;

    &::after {
      content: "";
      width: 67%;
      height: 5px;
      background-color: $green-theme-color;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}