.profile {
  display: flex;
  // width: 224px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 10px;
  padding-left: 4px;

  &__name {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: $white-color;

    @include font-styles();
  }

  &__icon {
    display: block;
    //
    margin-right: 20px;
  }
}