.search {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 76px;

  // при фокусе/наведении на инпут
  &__input:focus + &__label,
  &__input:hover + &__label {
    display: none;
  }

  &__label {
    margin-right: 5px;
  }

  &__icon {
    width: 18px;
    display: block;
  }

  &__input {
    margin: 0;
    border: 0;
    width: 80%;
    padding: 4px 0px 4px 3px;

    &:hover {
      outline: 1px solid $green-theme-color;
      width: 100%;
    }

    &::placeholder {
      text-transform: uppercase;
      color: $light-black;
      line-height: 16px;
      font-size: 14px;

      @include font-styles();
    }
  }
}