.toggle {
  border: 0;
  height: 1px;
  width: 4px;
  padding: 0;
  position: absolute;
  background-color: transparent;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);

  &::after {
    content: "";
    width: 4px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 0;
    transform: rotate(-45deg) translate(2px)
  }

  &::before {
    content: "";
    width: 4px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 0;
    transform: rotate(45deg) translate(-2px);
  }
}