.toggle {
  border: 0;
  height: 1px;
  width: 4px;
  padding: 0;
  position: absolute;
  background-color: transparent;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  transition: $transition-time; 

  &:hover {
    animation: arrow-down $transition-time ease-in-out 2;
  }

  &:focus {
    transform: scale(2);
  }

  &::after {
    content: "";
    width: 4px;
    height: 1px;
    background-color: $white-color;
    position: absolute;
    top: 0;
    transform: rotate(-45deg) translate(2px)
  }

  &::before {
    content: "";
    width: 4px;
    height: 1px;
    background-color: $white-color;
    position: absolute;
    top: 0;
    transform: rotate(45deg) translate(-2px);
  }
}