.main {
  background-color: #F2F2F2;

  // тест
  height: calc(100vh - 60px);

  &__wrapper {
    display: flex;
    justify-content: flex-end;

    // тест
    height: inherit;

    @include desktop-max-width();
  }
}